<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contact</title>
</head>
<body>
    <section id="contact">
        <div class="contact container">
          <div>
            <h1 class="section-title">Contact <span>info</span></h1>
          </div>
          <div class="contact-items">
            <div class="contact-item">
              <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
              <div class="contact-info">
                <h1>Phone</h1>
                <h2>+216 123 12345</h2>
                <h2>+216 123 12345</h2>
              </div>
            </div>
            <div class="contact-item">
              <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
              <div class="contact-info">
                <h1>Email</h1>
                <h2>Khouloud@gmail.com</h2>
                <h2>contact.khouloud@gmail.com</h2>
              </div>
            </div>
            <div class="contact-item">
              <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
              <div class="contact-info">
                <h1>Address</h1>
                <h2>Beja, Tunisia</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="footer">
        <div class="footer container">
          <div class="brand">
            <h1><span>K</span>houloud  <span>M</span>ekni</h1>
          </div>
          <h2>Your Complete Web Solution</h2>
          <div class="social-icon">
            <div class="social-item">
              <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
            </div>
            <div class="social-item">
              <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
            </div>
          
            <div class="social-item">
              <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
            </div>
          </div>
          <p>Copyright © 2023 Khouloud. All rights reserved</p>
        </div>
      </section>
</body>
</html>